site_name: Census ISTAT
site_url: https://maxdragonheart.github.io/istatcelldata/
repo_url: https://github.com/MaxDragonheart/istatcelldata
repo_name: istatcelldata
site_description: Con ISTAT Cell Data puoi ottenere facilmente il set di dati riferiti ai censimenti ISTAT in cui sono stati rilasciati anche i dati delle celle censuarie.
site_author: Massimiliano Moraca
nav:
  - Home: index.md
  - Documentation:
      - Intro: documentation/intro.md
      - References:
        - Data: documentation/data.md
        - Download: documentation/download.md
        - GeoData: documentation/geodata.md
        - Process: documentation/process.md
        - Utils: documentation/utils.md
      - Tutorial: tutorial/intro.md
  - License: LICENSE.md
  - Issues: https://github.com/MaxDragonheart/istatcelldata/issues
  - Roadmap: https://github.com/MaxDragonheart/istatcelldata/milestones
theme:
  name: material
  palette:
    primary: blue
  highlightjs: true
  hljs_languages:
    - python
  include_homepage_in_sidebar: true
  language: en
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.top
markdown_extensions:
  - abbr
  - admonition
  - codehilite
plugins:
    - search:
        lang:
          - en
          - it
    - i18n:
        docs_structure: folder
        fallback_to_default: true
        reconfigure_material: true
        reconfigure_search: true
        languages:
          - locale: en
            name: English
            build: true
            default: true
          - locale: it
            name: Italiano
            build: true
            nav_translations:
              Home: Home
              Documentation: Documentazione
              Intro: Intro
              References: References
              Data: Data
              Download: Download
              GeoData: GeoData
              Process: Process
              Utils: Utils
              Tutorial: Tutorial
              License: Licenza
    - mkdocstrings:
        handlers:
          python:
            paths: [istatcelldata]
            options:
              show_root_heading: false
              show_root_toc_entry: false
              docstring_style: google
              docstring_section_style: spacy
              annotations_path: brief
              show_source: false
    - mknotebooks:
        execute: true
        allow_errors: false