[tool.poetry]
name = "istatcelldata"
version = "0.5.1"
description = "\"Con ISTAT Cell Data puoi ottenere facilmente il set di dati riferiti ai censimenti ISTAT in cui sono stati rilasciati anche i dati delle celle censuarie.\""
authors = ["Massimiliano Moraca <info@massimilianomoraca.it>"]
license = "MIT License"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.10"
pandas = "^2.0.0"
geopandas = "^0.12.2"
tqdm = "^4.65.0"
chardet = "^5.1.0"
requests = "^2.28.2"
fsspec = "^2023.4.0"
openpyxl = "^3.1.2"
xlrd = "^2.0.1"


[tool.poetry.group.dev.dependencies]
pytest = "^7.3.0"
jupyter = "^1.0.0"
notebook = "^6.5.4"
jupyter-server-proxy = "^3.2.2"
mkdocs = "^1.4.2"
mkdocs-material = "^9.1.6"
mknotebooks = "^0.7.1"
pygments = "^2.15.0"
mkdocstrings-python = "^0.9.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
